body{
    font-family: 'Open Sans', sans-serif;
}
.title{
    font-family: 'Shadows Into Light', cursive;
}
.container{
    padding-left: 30px;
}
img{
    width: 200px;
    height: 200px;
}
.form-inline{
    display: inline;
}